# Core functions
export(spdur, spdur.crisp)

# Utility functions
export(buildDuration, panelLag)

# Methods
export(summary.spdur, predict.spdur, print.summary.spdur)

# Methods
S3method(summary, spdur)
S3method(predict, spdur)

export(print.summary.spdur)

# Depends
importFrom(plyr, ddply)
